.App {
  min-height: 100vh;
  background-color: #faf2f0;
}
#top ul {
  list-style-type: none;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: #CAD1D9;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.2);
}

li h2 {
  float: right;
  display: block;
  padding: 9px;
  padding-right: 30px;
  color: #201F1D;
}

li h1 {
  float: left;
  display: block;
  padding: 9px;
  color: #201F1D;
}

#support {
  margin-top: 100px;
}

.content {
  padding: 100px 100px 250px 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
}

.card {
  text-align: center;
  border-radius: 15px 15px 15px 15px;
  margin: 100px 50px 50px 50px;
  min-width: 25%;
  height: 50vh;
  position: relative;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
  transition: 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: 0px;
}
 
::-webkit-scrollbar-thumb {
  background: #CAD1D9; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: black; 
}
.card:hover {
  box-shadow: 0 20px 40px 0 rgba(0,0,0,.2);
}

#activities {
  position: absolute;
  left: 0;
  top: 20%;
  right: 0;
  bottom: 10%;
  overflow-y: auto;
  background-color: #DEE3Ea;
}

#activities ul {
  list-style-type: none;
}

#title {
  border-radius: 15px 15px 0px 0px;
  margin-top: 0%;
  margin-bottom: 0%;
  height: 20%;
  background-color: #D2E3BB;
}

.add {
  position: absolute;
  height: 10%;
  width: 100%;
  background-color: #D2E3BB;
  bottom: 0;
  padding-bottom: 15px;
}

.add button {
  border-radius: 50%;
  padding: 8px 10px 8px 10px;
  background-color: transparent;
  transition: 0.3s;
}

.add button:hover {
  background-color: rgb(74, 201, 74);
}

.add input {
  width: 80%;
  background-color: transparent;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid red;
}
